karpathy_gpt2.py
openai_gpt2.py
hf_gpt2.py
play.ipynb
tmp.py
__pycache__/config.cpython-39.pyc
__pycache__/gpt.cpython-39.pyc
gpt_copy.py
gpt-backup-040124.py
karpathy_sample.py
karpathy_train.py
__pycache__/gpt_copy.cpython-39.pyc
__pycache__/gpt.cpython-312.pyc
__pycache__/config.cpython-312.pyc
gpt2-124M-vastai-openwebtext-snapshots/data/openwebtext/val.bin
gpt2-124M-vastai-openwebtext-snapshots/data/openwebtext/train2.log
gpt2-124M-vastai-openwebtext-snapshots/data/openwebtext/readme.md
gpt2-124M-vastai-openwebtext-snapshots/train2.py
gpt2-124M-vastai-openwebtext-snapshots/data/openwebtext/.ipynb_checkpoints/prepare-checkpoint.py
gpt2-124M-vastai-openwebtext-snapshots/train2.latest.log
gpt2-124M-vastai-openwebtext-snapshots/sample.py
gpt2-124M-vastai-openwebtext-snapshots/config.txt
gpt2-124M-vastai-openwebtext-snapshots/config.py
gpt2-124M-vastai-openwebtext-snapshots/README.md
gpt2-124M-vastai-openwebtext-snapshots/train_shakespeare_char.txt
gpt2-124M-vastai-openwebtext-snapshots/train.ipynb
gpt2-124M-vastai-openwebtext-snapshots/train.py
gpt2-124M-vastai-openwebtext-snapshots/gpt.py
gpt2-124M-vastai-openwebtext-snapshots/train2.log
train.2.py
